extends layout


block content
  h1= title
  - var results = [{"organisationName":"public","oraganisationMembers":100,"organisationChairman":"Anusha","location":"Hyderabad"},{"organisationName":"Foriegn","oraganisationMembers":75,"organisationChairman":"Ganesh","location":"Miyapur"},{"organisationName":"private","oraganisationMembers":250,"organisationChairman":"Deetya sri","location":"Banglore"}];
  div(class="container-fluid")
    div(class="row m-1")
       each item, index in results
           - let destination = `dispatch(\"/organisation/update?id=${item._id}\")`
           div(class="col-sm-2" width="215px") organisationName Type:#{item.organisationName}, oraganisationMembers:#{item.oraganisationMembers}, organisationChairman:#{item.organisationChairman}, location:#{item.location}
           button.btn( class="btn-primary ml-1", onclick= destination) Update
  
  script.
    function buy(index) {
     alert("You purchased item " + index)
    }
  script.
    function dispatch(path){
     window.location.href=path
    }

 

 